.Marquee {
    /* margin: 0px 0 0 0; */
    border-bottom: 1px solid var(--baground-button-color);
    width: 100%;
    overflow: hidden;
    background-color: rgba(77, 71, 64, 0.178);
}

.box {
    display: flex;
    width: 200%;
    animation: marquee-animation 12s 2s linear infinite;
}

.imgBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* .img {
    width: 20%;
} */

@keyframes marquee-animation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
